# Firebase (Production)
VITE_FIREBASE_API_KEY=REPLACE_ME
VITE_FIREBASE_AUTH_DOMAIN=ivs-english-prod.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://ivs-english-prod-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=ivs-english-prod
VITE_FIREBASE_STORAGE_BUCKET=ivs-english-prod.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=REPLACE_ME
VITE_FIREBASE_APP_ID=REPLACE_ME
VITE_FIREBASE_MEASUREMENT_ID=REPLACE_IF_ANALYTICS

VITE_GEMINI_API_KEY=your_gemini_api_key_here
SERVICE_ACCOUNT_JSON=your_service_account_json_here